mat-card {
  width: 80%;
  margin: auto;
}

mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

mat-paginator {
  margin-top: 1rem;
}

.image-preview {
  height: 5rem;
  margin: 1rem;

}

.image-preview img {
  height: 100%;
}
