<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
     <!-- <input placeholder = "Post Title" matInput type="text" minlength="3" required name="title" #title="ngModel" ngModel> -->
      <input placeholder = "Post Title" matInput type="text" minlength="3" required name="title" #title="ngModel" [ngModel]="post?.title">
      <mat-error *ngIf="title.invalid">Please enter a Post Title</mat-error>
    </mat-form-field>
    <mat-form-field>
     <!-- <textarea placeholder="Post Content" matInput rows="4" required name="content" #content="ngModel" ngModel></textarea> -->
      <textarea placeholder="Post Content" matInput rows="4" required name="content" #content="ngModel" [ngModel]="post?.content"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a Post Content</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Save Post</button>
  </form>
</mat-card>
<hr>
